<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <link rel="shortcut icon" href="./logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="index.css">
    <script src="./global.js"></script>
    <title>HNet Web</title>

<script defer src="assets/vendor.min.js"></script><script defer src="assets/index.min.js"></script><script defer src="assets/dis.min.js"></script></head>

<body>
    <div id="root" v-cloak class="container">
        <!-- -webkit-backdrop-filter: blur(5px);	
    backdrop-filter: blur(5px); -->
        <section class="box">
            <div class="input" :class="foucs?'input-none':''">
                <div class="search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
                <input type="text" :class="foucs?'input-none':''" :class="[errStatus ? 'err' : '']" @input="handleInput"
                    @blur="checkBlur" @focus="checkFocus" v-model="val" @keyup.enter="handleCheck"
                    @keyup.down="handleDown" @keyup.up="handleUp" :placeholder="pld">
                <div class="word" v-if="wordShow">
                    <div v-for="(item,indexs) in wdArr" :key="indexs" class="words"
                        :class="[kindex == indexs ? 'val-choose':'']" @click="handleChoose(item,indexs)"
                        @keyup.enter="handleChoose(item,indexs)">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </div>
                        <div style="font-size: 14px;margin-left: 15px;">{{item.text}}</div>
                    </div>
                </div>
            </div>
            <div class="bookmark" v-show="bookmark">
                <div class="mbox" v-for="(it,index) in bookArr">
                    <div class="img">
                        <img :src="it.icon" alt="" srcset="" @click="addBook(index,it)">
                        <div class="edit" @click="editShow(index)" v-if="index !== bookArr.length - 1">...</div>
                        <div class="dlog" @mouseleave="leave" :class="current == index ? 'dlogShow' : 'dlogClose'">
                            <div @click="mobifBook(it)">修改</div>
                            <div @click="moveBook(it,index)">移除</div>
                        </div>
                    </div>
                    <div class="text" @click="addBook(index,it)">{{it.name}}</div>
                </div>
            </div>
        </section>
        <!-- diglog -->
        <div class="modal" v-if="digLog" v-cloak>
            <div class="mobox">
                <h3>添加快捷方式</h3>
                <div>
                    <p><span style="color: #b83941;">*</span> 名称</p>
                    <input id="inpt" type="text" placeholder="请输入名称" v-model="bookObj.title" @focus="dwar1 = false">
                    <span class="dwar" v-show="dwar1">信息错误</span>
                </div>
                <div>
                    <p><span style="color: #b83941;">*</span> 网址</p>
                    <input id="inpt" type="text" placeholder="https://www.google.com" v-model="bookObj.siteLink"
                        @focus="dwar2 = false">
                    <span class="dwar" v-show="dwar2">信息错误</span>
                </div>
                <div class="bc">
                    <div @click="cancelBook">取消</div>
                    <div @click="handleAdd">完成</div>
                </div>
            </div>
        </div>
        <!-- contact -->
        <div class="contact" v-if="contactShow">
            <div class="ig" v-for="(its, id) in footArr" :key="its.id">
                <a :href="its.url" target="_blank" rel="noopener noreferrer">
                    <img :src="its.img" :alt="its.alt" srcset="">
                </a>
            </div>
            <div class="hideip" v-if="initPwdShow">密码 {{initPwd}}</div>
        </div>
    </div>
    <script src="server/server.bundle.js"></script>
</body>

</html>
